.back-image {
  background: radial-gradient(rgba(145, 133, 133, 0.8), rgba(0, 0, 0, 0.8)),
    url(./back_image_math.jpg);
  background-size: cover;
  width: auto;
  height: 600px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -40px;
}