---
layout: default-ja
title: "Notes"
category: Notes
description: "ノートなど"
---



{% comment %} note_tag_list：ノートカテゴリの中のタグを格納しておくリスト {% endcomment %}
{% assign note_tag_list = "" %}


{% for current_post in site.categories.Notes %}
{% unless current_post.tags == empty %}{% comment %} 空でない時だけ考える {% endcomment %}
{% capture current_tag_name %}{{ current_post.tags[0] }}{% endcapture %}

{% comment %} True_False_listは、note_tag_listの中身のそれぞれとcurrent_tagが一致しているかどうかのリスト {% endcomment %}
{% assign True_False_list = "" %}

{% if note_tag_list == "" %}
{% assign note_tag_list = note_tag_list | append: current_tag_name %}
{% assign note_tag_list = note_tag_list | split: "," %}
{% comment %} あとでこのlistでfor文を回すので、ここの時点でnote_tag_listをリストとして作っておく必要がある {% endcomment %}
{% else %}

{% comment %} まずTrue_False_listをつくる。current_tag_nameがすでにnote_tag_listに含まれているタグならTrue、そうでないならFalse {% endcomment %}
{% for listed_tag in note_tag_list %}
{% if listed_tag == current_tag_name %}
{% assign True_False_list = True_False_list | append: "T" %}
{% endif %}
{% assign True_False_list = True_False_list | append: "F" %}
{% endfor %}
{% comment %} ここまででTrue_False_listを作った {% endcomment %}
{% comment %} True_False_listがTを含んでいたらnote_tag_listにcurrent_tagをappendする {% endcomment %}
{% if True_False_list contains "T" %}
{% else %}
{% assign note_tag_list = note_tag_list | join: "," %}
{% assign note_tag_list = note_tag_list | append: "," | append: current_tag_name %}
{% assign note_tag_list = note_tag_list | split: "," %}
{% endif %}
{% endif %}

{% endunless %}{% comment %} 空でない時の処理ここまで {% endcomment %}
{% endfor %}

{% comment %} 以上でノートカテゴリの中のすべてのタグが格納できた {% endcomment %}

{% comment %} アルファベット順にソート {% endcomment %}

{% capture sorted_note_tag_list %}{{ note_tag_list | sort_natural | join: ","}}{% endcapture %}
{% assign sorted_note_tag_list = sorted_note_tag_list | split: "," %}


{% comment %} タグに従って記事を並べる {% endcomment %}

{% for note_tag in sorted_note_tag_list %}
{% comment %} Othersは最後 {% endcomment %}
{% if note_tag != 'Others' %}

<article>
  <h2><span class="first-color-change-IC">{{ note_tag }}</span></h2>

  <ul class="note-top">
    {% comment %} このタグのポストをリスト化 {% endcomment %}
    {% assign this_tag_posts = "" %}

    {% for note_post in site.categories.Notes %}
    {% capture note_post_tagname %}{{ note_post.tag }}{% endcapture %}

    {% if note_tag == note_post_tagname %}
    {% assign note_post_tagname_title = note_post.title %}
    {% assign note_post_tagname_url = note_post.url %}
    {% assign note_post_tagname_description = note_post.description %}
    {% assign this_tag_posts = this_tag_posts | append: "|" | append: note_post_tagname_title | append: "#" | append: note_post_tagname_url | append: "#" | append: note_post_tagname_description %}
    {% endif %}

    {% endfor %}

    {% assign this_tag_posts = this_tag_posts | remove_first: "|" %}
    {% assign this_tag_posts = this_tag_posts | split: '|' %}
    {% comment %} このタグのポストをリスト化ここまで {% endcomment %}

    {% comment %} alphabeticallyにsort {% endcomment %}
    {% capture sorted_this_tag_posts %}{{ this_tag_posts | sort_natural | join: ","}}{% endcapture %}
    {% assign sorted_this_tag_posts = sorted_this_tag_posts | split: "," %}

    {% for sorted_post in sorted_this_tag_posts %}
    {% assign postitems = sorted_post | split: '#' %}
    <li>
      <h3><a href="{{ postitems[1] }}">{{ postitems[0] }}</a></h3>
      <p>{{ postitems[2] }}</p>
    </li>
    {% endfor %}
  </ul>
</article>

{% endif %}
{% endfor %}


{% comment %} これはOthers用 {% endcomment %}

<article>
  <h2><span class="first-color-change-IC">Others</span></h2>

  <ul class="note-top">
    {% for note_post in site.categories.Notes %}
    {% if note_post.tag == 'Others' %}
    <li>
      <h3><a href="{{ note_post.url }}">{{ note_post.title }}</a></h3>
      <p>{{ note_post.description }}</p>
    </li>
    {% endif %}
    {% endfor %}
    <li>
      <h3><a href="/assets/HTML/Links.html">Links</a></h3>
      <p>リンク集です. </p>
    </li>
    <li>
      <h3><a href="/assets/HTML/PCMemo.html">Memo (PC)</a></h3>
      <p>パソコン関係のメモ. </p>
    </li>
    <li>
      <h3><a href="/assets/Python/test.html">Test</a></h3>
      <p>テスト用. </p>
    </li>
  </ul>
</article>