<footer class="botom-footer">
  <nav>
    <div class="footer-sitemap">
      <h2><a href="/Top.html"><span class="first-color-change">Tomoki Yuji</span></a></h2>
      <a href="https://www.kurims.kyoto-u.ac.jp/ja/">@RIMS</a>
      <ul class="footer-left">
        {% for item in site.data.navigation %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="footer-contact">
      <ul class="footer-right">
        <li> Mail: yujitomo [at] kurims.kyoto-u.ac.jp</li>
        <li> GitHub: yujitomo@github.io</li>
      </ul>
    </div>
  </nav>
</footer>