<footer class="bottom-footer">
  <ul>
    <li>
      <h2><a href="/Yujitomo_Top.html"><span class="first-color-change">Tomoki Yuji</span></a></h2>
      <a href="https://www.kurims.kyoto-u.ac.jp/ja/">@RIMS</a>
      <nav>
        <ul class="footer-left">
          {% for item in site.data.navigation %}
          <li><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </li>
    <li>
      <ul class="footer-right">
        <li>Mail: yujitomo [at] kurims.kyoto-u.ac.jp</li>
        <li>GitHub: yujitomo@github.io</li>
      </ul>
    </li>
  </ul>
</footer>


<script type="text/javascript" src="/assets/js/MyJavaScript.js"></script>