<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="discription" content="湯地のホームページ">
<meta name="keywords" content="湯地智紀">
<meta name="author" content="湯地ともき">
<!--
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" rel="stylesheet">
-->
<link rel="stylesheet" href="/assets/css/styles.css">

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% if page.category == "Top" %}
<script type="text/javascript" src="/assets/js/Loading.js"></script>
{% endif %}


<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
<script>
  MathJax = {
    chtml: {
      matchFontHeight: false
    }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>


<title>湯地ともき@RIMS</title>