@import "MyMixin";
@import "MyFonts";


/**** 全体 ****/

* {
	margin: 0;
	padding: 0;
  font-family: 'Noto Serif JP';
  color: #000000;
}

main {
	margin: 0px 20% 1.5em 20%;
}

article {
	margin: 0px 0px 1.5em 0px;
}

h2 {
	@include heading-fonts;
	margin: 0.5em 0em 0.5em 0em;
	padding: 0px 5% 0px 5%;
	font-weight: 500;
	font-size: 1.85em;
	margin: 0px;
	border-bottom: 0.5px solid $border_color;
	span {
		@include heading-fonts;
	}
	a {
		@include heading-fonts;
		text-decoration: none;
	}
}

h3, h4, h5, h6, p, ul, ol {
  padding: 0px 5% 0px 5%;
  margin: 0.5em 0em 0.5em 0em;
}

li {
	margin: 0.3em 0em 0.3em 0em;
}

ul {
  list-style: none;
  flex-wrap: wrap;
	list-style-position: inside;
}

ol {
  flex-wrap: wrap;
	list-style-position: inside;
}


a {
	transition: all 0.05s ease-in-out;
	text-decoration-color: #b0b0b0;
	/*text-decoration: none;*/
	&:hover {
		background-color: #ededed;
	}
}



blockquote { /* 本来は引用だが、「定理」とか「定義」とかって引用みたいなもんだし、定理環境として使う */
  margin: 0px 5% 0px 5%;
	border-left: 3px solid $border_color;
	border-right: 3px solid $border_color;
	h3 {
    font-size: 16px; /*これはh4の大きさと同じ*/
    font-weight: 600;
		span {
			padding: 0px 10px 0px 10px;
			/*text-decoration-color: $border_color;*/
			/*border-bottom: 3px solid $border_color;*/
			background: linear-gradient(to top, $border_color 2px, #ffffff 2px 100%);
		}
	}
	p, ul, ol {
	  padding: 0px 20px 0px 20px;
	}
}


/****装飾****/
.first-character-color {
  color: $current_color;
}

.first-number-font {
  font-family: 'Cinzel';
}

.first-number-default {
  font-family: 'Cormorant Garamond';
}

.diary-this-is-hidden {
  display: none;
}

.DiaryYMListCurrent {
  color: $current_color;
}

.diary-here-first > span {
  padding: 0em 5% 0.5em 5%;
}




/****メイン****/

ul.ul-links {
	li {
		display: inline;
	}
	li:not(:last-child) {
		&:after {
			content: "";
			display: inline-block;
			border-right: 1px solid #000000;
			position: relative;
			height: 0.9em;
			bottom: -0.1em;
			margin: 0px 1.2em 0px 0px;
			padding: 0px 0px 0px 1.55em;
		}
	}
}

ul.ul-default li {
	&:before {
		content: '•';
		color: #b0b0b0;
		padding: 0px 10px 0px 0px;
	}
}


ul.ul-profile li {
	h3 {
		display: inline;
	  font-size: 16px;
		padding: 0;
	}
	ol {
		list-style: none;
		li {
			h4 {
				&:before {
					content: '•';
					color: #b0b0b0;
					padding: 0px 10px 0px 0px;
				}
				display: inline;
				padding: 0;
				text-decoration-line: underline;
				text-decoration-color: #b0b0b0;
			}
		}
	}
}

ul.ul-top {
  margin: 0px;
  padding: 0px 5% 0px 5%;
  li {
    margin: 0.8em 0px 1em 0px;
  }
  h3 {
    font-size: 18px; /*これはh4の大きさと同じ*/
    font-weight: 600;
    margin: 0.3em 0px 0.3em 0em;
		padding: 0px;
		&:before {
			content: '•';
			color: #b0b0b0;
			padding: 0px 10px 0px 0px;
		}
    a {
			text-decoration: none;
    }
  }
}


ul.note-top {
  margin: 0px;
  padding: 0px 5% 0px 5%;
  li {
    margin: 0.8em 0px 1em 0px;
  }
  h3 {
    font-size: 18px; /*これはh4の大きさと同じ*/
    font-weight: 600;
    margin: 0.3em 0px 0.3em 0em;
		padding: 0px;
		&:before {
			content: '•';
			color: #b0b0b0;
			padding: 0px 10px 0px 0px;
		}
    a {
			text-decoration: none;
    }
  }
  p {
    margin: 0.3em 0px 0.3em 0px;
		padding: 0px;
  }
}


@mixin small-block-mixin($width) {
  display: flex;
  justify-content: space-between;
  h2 {
    font-weight: 200;
    font-size: 1.6em;
    padding: 0px 0px 0px 10px;
    border-bottom: 0.5px solid $border_color;
  }
  li {
    /*display: inline;*/
    width: $width;
    margin: 0 10px 1em 0px;
    padding: 0px;
    text-align: left;
    ul.small-list {
      margin: 0px 0px 0px 10px;
      padding: 0px;
      list-style: none;
      li {
        margin: 3px 0px 3px 0px;
        padding: 0px;
      }
    }
  }
}

ul.small-block1 {
  @include small-block-mixin(150px);
}

ul.small-block2 {
  @include small-block-mixin(175px);
}

p.article-foot {
  text-align: right;
}
