@import "MyMixin";
@import "MyFonts";


/**** 全体 ****/

* {
	margin: 0;
	padding: 0;
  font-family: 'Noto Serif JP';
}

article {
  margin-left: 20%;
  margin-right: 20%;
}

section {
  padding: 1em 0 1em 0;
}


h2 {
  @include heading-fonts;
  padding: 0px 0px 0px 5%;
  font-weight: 500;
  font-size: 1.85em;
  margin: 0px;
  border-bottom: 0.5px solid $border_color;
  span {
    @include heading-fonts;
  }
  a {
    @include heading-fonts;
  }
}

h3, h4, h5, h6 {
  padding: 0.5em 7% 0.5em 5%;
  font-family: 'Noto Serif JP';
  margin: auto;
}

p {
  padding: 0.5em 5% 0.5em 5%;
}

a {
  color: #000000;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  &:hover {
    opacity: 0.5;
  }
}

ul {
  list-style: none;
  flex-wrap: wrap;
}

ol {
  padding: 0px 5% 0px 5%;
  flex-wrap: wrap;
}


/****装飾****/
.first-character-color {
  color: $current_color;
}

.first-number-font {
  font-family: 'Cinzel';
}

.diary-this-is-hidden {
  display: none;
}

.DiaryYMListCurrent {
  color: $current_color;
}

/****メイン****/


ul.note-top {
  margin: 0px;
  padding: 0px 5% 0px 5%;
  list-style: none;
  li {
    margin: 0px;
    padding: 0px;
  }
  h4 {
    margin: 0.5em 0px 0em 0.5em;
    padding: 0.5em 0px 0.3em 0em;
    span {
      padding: 0em 0.5em 0em 0.5em;
      border-bottom: 0.5px solid $border_color;
    }
  }
  p {
    margin: 0px;
    padding: 0.3em 0px .7em 0px;
  }
}


@mixin small-block-mixin($width) {
  display: flex;
  justify-content: space-between;
  h2 {
    font-weight: 200;
    font-size: 1.6em;
    padding: 0px 0px 0px 10px;
    border-bottom: 0.5px solid $border_color;
  }
  li {
    /*display: inline;*/
    width: $width;
    margin: 0 10px 1em 0px;
    padding: 0px;
    text-align: left;
    ul.small-list {
      margin: 0px 0px 0px 10px;
      padding: 0px;
      list-style: none;
      li {
        margin: 3px 0px 3px 0px;
        padding: 0px;
      }
    }
  }
}

ul.small-block1 {
  @include small-block-mixin(150px);
}

ul.small-block2 {
  @include small-block-mixin(175px);
}

p.article-foot {
  text-align: right;
}
