@import "MyMixin";
@import "MyFonts";

article.definition-env-article {
  margin: 0px 5% 0px 5%;
	border-left: 3px solid $border_color;
	border-right: 3px solid $border_color;
  h3.definition-env-h3 {
		display: inline;
    font-size: 16px; /*これはh4の大きさと同じ*/
    font-weight: 600;
		span {
			padding: 0px 10px 0px 10px;
			/*text-decoration-color: $border_color;*/
			/*border-bottom: 3px solid $border_color;*/
			background: linear-gradient(to top, $border_color 2px, #ffffff 2px 100%);
		}
	}
  ul {
    li {
      &:before {
        display: inline;
      	content: '•';
      	color: #b0b0b0;
      	padding: 0px 10px 0px 0px;
      }
      p {
    		display: inline;
        text-indent: 0em;
        padding: 0;
      }
      margin: 0.8em 0px 1em 0px;
    }
  }
  ol {
    li {
      &:before {
        display: inline;
      }
      p {
    		display: inline;
      }
      margin: 0.8em 0px 1em 0px;
    }
  }
}

article.proof-env-article {
  &:after {
		display: block;
    text-align: right;
    content: '◻︎';
    margin: 0 5% 0 0;
  }
  h3.proof-env-h3 {
		display: inline;
    font-size: 16px; /*これはh4の大きさと同じ*/
    font-weight: 600;
		span {
			padding: 0px 10px 0px 10px;
			/*text-decoration-color: $border_color;*/
			/*border-bottom: 3px solid $border_color;*/
			background: linear-gradient(to top, $border_color 2px, #ffffff 2px 100%);
		}
	}
  ul {
    li {
      &:before {
        display: inline;
      	content: '•';
      	color: #b0b0b0;
      	padding: 0px 10px 0px 0px;
      }
      p {
    		display: inline;
        text-indent: 0em;
        padding: 0;
      }
      margin: 0.8em 0px 1em 0px;
    }
  }
  ol {
    li {
      &:before {
        display: inline;
      }
      p {
    		display: inline;
      }
      margin: 0.8em 0px 1em 0px;
    }
  }
}

h2.section-name-h2 {
  font-family: 'Noto Serif JP';
  span {
    font-family: 'Noto Serif JP';
  }
}







.bibliography-h3 {
  padding: 0em 1em 0em 0em;
  display: inline;
  font-size: 16px; /*これはh4の大きさと同じ*/
  span {
    padding: 0px 10px 0px 10px;
    /*text-decoration-color: $border_color;*/
    /*border-bottom: 3px solid $border_color;*/
    background: linear-gradient(to top, $border_color 2px, #ffffff 2px 100%);
  }
}
