//Fonts

$current_color: rgba(255, 46, 71, 0.85);
$border_color: #dadada;
$border_color_top: #cccccc;
$border_color_h1: #cccccc;
$border_color_h2: #cccccc;

//navi-variants
$navi_yujitomo_size: 50px;
$navi_size: 25px;

//footer-variants
$footer_yujitomo_size: 25px;
$footer_navi_size: 20px;
$footer_size: 20px;
$footer_contact_size: 20px;

//main-variants
$main-header-title-size: 30px;
$main-header-size: 20px;



@font-face {
  font-family: 'Cinzel';
  src: url(/assets/MyFonts/Cinzel-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url(/assets/MyFonts/CormorantGaramond-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url(/assets/MyFonts/NotoSerifJP-ExtraLight.otf) format("Opentype");
}


@mixin default-fonts {
  font-family: 'Noto Serif JP';
  font-weight: 100;
}

@mixin navi-fonts {
  font-family: 'Cinzel';
  font-weight: 100;
}

@mixin heading-fonts {
  font-family: 'Cormorant Garamond';
  font-weight: 100;
}
