@import "MyMixin";
@import "MyFonts";



nav {
  align-items:left;
  margin-right: auto;
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
    }
  }
}

header.top-header {
  padding: 0 15% 0 15%;
  border-bottom: 1px solid $border_color_top;
  h1 {
    font-size: $navi_yujitomo_size;
  }
  ul li {
    margin-right: 30px;
    a {
      font-size: $navi_size;
    }
    .top-current-navigation {
      color: $current_color;
    }
  }
  a {
    @include navi-fonts;
    text-decoration: none;
  }
}


header.main-header {
  h1 {
    padding-top: 1em;
    text-align: center;
    font-size: $main-header-title-size;
    span.equals {
      padding: 0 1em 0 1em;
      @include navi-fonts;
      border-bottom: 1px solid $border_color_h1;
    }
    span.nequals {
      padding: 0 1em 0 1em;
      @include heading-fonts;
      border-bottom: 1px solid $border_color_h1;
    }
  }
  p {
    padding: 1em 0em 1em 0em;
    text-align: center;
    font-size: $main-header-size;
  }
}




/***Footer***/


footer.main-footer {
	margin: 0px 0px 1.5em 0px;
  p {
    padding-top: 1em;
    text-align: right;
  }
}



footer.bottom-footer {
  width: 100%;
  padding: 5px 15% 0 15%;
  margin: 2em 0 3em 0;
  border-top: 1px solid $border_color_top;
  ul {
    margin-top: 0;
    display: flex;
    li {
      margin-top: 0;
      width: 35%;
      padding-right: 30px;
      h2 {
        @include navi-fonts;
        display: inline;
        padding-left: 0px;
        border: 0px;
        span {
          @include navi-fonts;
        }
      }
      a {
        @include navi-fonts;
      	text-decoration: none;
      }
      ul.footer-left {
        @include navi-fonts;
        display: flex;
        margin: 0;
        padding: 0;
        /*justify-content: space-between;*/
        li {
          width: auto;
          padding-right: 10px;
        }
      }
      ul.footer-right {
        margin: 0px;
        margin: 10px;
        li {
          display: inline;
          padding: 20px;
          width: auto;
          transition: background-color 0.05s ease-in-out;
          &:hover {
            background-color: #ededed;
          }
        }
      }
    }
  }
}
